<!-- Chakra Points Attribute -->
<li class="attribute chakra">
    <h4 class="attribute-name box-title">{{localize "DND5E.ChakraPoints"}}</h4>
    <a class="config-button" data-action="chakra-points" data-tooltip="DND5E.ChakraPointsConfig">
        <i class="fas fa-cog"></i>
    </a>
    <div class="attribute-value multiple">
        <input name="system.attributes.cp.value" type="text" value="{{cp.value}}" placeholder="10"
               data-tooltip="DND5E.ChakraPointsCurrent" data-dtype="Number">
        <span class="sep"> / </span>
        <span data-tooltip="{{#if cp.max}}DND5E.ChakraPointsOverride{{else}}DND5E.ChakraPointsMax{{/if}}">
            {{cp.max}}
        </span>
    </div>
    <footer class="attribute-footer">
        <input name="system.attributes.cp.temp" type="text" class="tempcp"
               placeholder="+{{ localize 'DND5E.Temp' }}" value="{{cp.temp}}"
               data-tooltip="DND5E.ChakraPointsTemp" data-dtype="Number">
        <input name="system.attributes.cp.tempmax" type="text" class="tempcp"
               placeholder="+{{ localize 'DND5E.Max' }}" value="{{cp.tempmax}}"
               data-tooltip="DND5E.ChakraPointsTempMax" data-dtype="Number">
    </footer>
</li>

<!-- Chakra Dice Attribute -->
<li class="attribute chakra-die">
    <h4 class="attribute-name box-title">{{localize "DND5E.ChakraDie"}}</h4>
    <a class="config-button" data-action="chakra-die" data-tooltip="DND5E.ChakraDieConfig">
        <i class="fas fa-cog"></i>
    </a>
    <div class="attribute-value multiple">
        <input name="system.attributes.cd.value" type="text" value="{{cd.value}}" placeholder="d6"
               data-tooltip="DND5E.ChakraDieCurrent" data-dtype="String">
        <span class="sep"> / </span>
        <span data-tooltip="{{#if cd.max}}DND5E.ChakraDieOverride{{else}}DND5E.ChakraDieMax{{/if}}">
            {{cd.max}}
        </span>
    </div>
    <footer class="attribute-footer">
        <input name="system.attributes.cd.temp" type="text" class="tempcd"
               placeholder="+{{ localize 'DND5E.Temp' }}" value="{{cd.temp}}"
               data-tooltip="DND5E.ChakraDieTemp" data-dtype="String">
        <input name="system.attributes.cd.tempmax" type="text" class="tempcd"
               placeholder="+{{ localize 'DND5E.Max' }}" value="{{cd.tempmax}}"
               data-tooltip="DND5E.ChakraDieTempMax" data-dtype="String">
    </footer>
</li>