<ul class="attributes flexrow">
    {{#each resources}}
        {{#if key}}
        <!--Chakra-->
        <li class="attribute chakra">
            <h4 class="attribute-name box-title">
                {{ localize "DND5E.ChakraPoints" }}
            </h4>
            <div class="attribute-value">
                <input type="text" name="{{name}}.value" value="{{value}}" placeholder="0" data-dtype="Number">
                <span class="sep"> / </span>
                <input type="text" name="{{name}}.max" value="{{max}}" placeholder="0" data-dtype="Number">
            </div>
            <footer class="attribute-footer">
                <input name="{{name}}.temp" type="text"
                       placeholder="+Temp" value="{{temp}}"
                       data-dtype="Number" class="temphp">
                <input name="{{name}}.tempmax" type="text"
                       placeholder="+Temp Max" value="{{tempmax}}"
                       data-dtype="Number" class="temphp">
            </footer>
        </li>
        {{/if}}
        {{#if chakraDice}}
        <!--Chakra Dice-->
        <li class="attribute chakradie">
            <h4 class="attribute-name box-title">
                {{ localize "DND5E.ChakraDie" }}
            </h4>
            <div class="attribute-value">
                <input type="text" name="{{name}}.value" value="{{value}}" placeholder="0" data-dtype="Number">
                <span class="sep"> / </span>
                <input type="text" name="{{name}}.max" value="{{max}}" placeholder="0" data-dtype="Number">
            </div>
            <footer class="attribute-footer">
                <input name="{{name}}.temp" type="text"
                       placeholder="+Temp" value="{{temp}}"
                       data-dtype="Number" class="temphp">
                <input name="{{name}}.tempmax" type="text"
                       placeholder="+Temp Max" value="{{tempmax}}"
                       data-dtype="Number" class="temphp">
            </footer>
        </li>
        {{/if}}
        {{#if ninjutsuSave}}
        <!--Ninjutsu Save-->
        <li class="attribute ninsave">
            <h4 class="attribute-name box-title">{{ localize "DND5E.NinjutsuSave" }}</h4>
            <a class="config-button" data-action="armor" data-tooltip="DND5E.ArmorConfig">
                <i class="fas fa-cog"></i>
            </a>
            <div class="attribute-value" data-attribution="attributes.ac"
                 data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
                <span>{{ninjutsuSave.value}}</span>
            </div>
            <footer class="attribute-footer">
                <!--            <span class="spell-dc">{{localize
                        "DND5E.SpellDC"}} {{system.attributes.spelldc}}</span>-->
            </footer>
        </li>
        {{/if}}
        {{#if taijutsuSave}}
        <!--Taijutsu Save-->
        <li class="attribute taisave">
            <h4 class="attribute-name box-title">{{ localize "DND5E.TaijutsuSave" }}</h4>
            <a class="config-button" data-action="armor" data-tooltip="DND5E.ArmorConfig">
                <i class="fas fa-cog"></i>
            </a>
            <div class="attribute-value" data-attribution="attributes.ac"
                 data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
                <span>{{system.attributes.ac.value}}</span>
            </div>
            <footer class="attribute-footer">
                <!--            <span class="spell-dc">{{localize
                        "DND5E.SpellDC"}} {{system.attributes.spelldc}}</span>-->
            </footer>
        </li>
        {{/if}}
        {{#if genjutsuSave}}
        <!--Genjutsu Save-->
        <li class="attribute gensave">
            <h4 class="attribute-name box-title">{{ localize "DND5E.GenjutsuSave" }}</h4>
            <a class="config-button" data-action="armor" data-tooltip="DND5E.ArmorConfig">
                <i class="fas fa-cog"></i>
            </a>
            <div class="attribute-value" data-attribution="attributes.ac"
                 data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
                <span>{{system.attributes.ac.value}}</span>
            </div>
            <footer class="attribute-footer">
                <!--            <span class="spell-dc">{{localize
                        "DND5E.SpellDC"}} {{system.attributes.spelldc}}</span>-->
            </footer>
        </li>
        {{/if}}
    {{/each}}
</ul>