        <!--Chakra-->
        <li class="attribute chakra">
            <h4 class="attribute-name box-title">
                {{ localize "DND5E.ChakraPoints" }}
            </h4>
            <div class="attribute-value">
                <input type="text" name="{{resources.chakra.name}}.value" value="{{resources.chakra.value}}" placeholder="0" data-dtype="Number">
                <span class="sep"> / </span>
                <input type="text" name="{{resources.chakra.name}}.max" value="{{resources.chakra.max}}" placeholder="10" data-dtype="Number">
            </div>
            <footer class="attribute-footer">
                <input name="{{resources.chakra.name}}.temp" type="text"
                       placeholder="+Temp" value="{{resources.chakra.temp}}"
                       data-dtype="Number" class="temphp">
                <input name="{{resources.chakra.name}}.tempmax" type="text"
                       placeholder="+Max" value="{{resources.chakra.tempmax}}"
                       data-dtype="Number" class="temphp">
            </footer>
        </li>

        <!--Chakra Dice-->
        <li class="attribute chakradie">
            <h4 class="attribute-name box-title">
                {{ localize "DND5E.ChakraDie" }}
            </h4>
            <div class="attribute-value">
                <input type="text" name="{{resources.chakraDice.name}}.value" value="{{resources.chakraDice.value}}" placeholder="0" data-dtype="Number">
                <span class="sep"> / </span>
                <input type="text" name="{{resources.chakraDice.name}}.max" value="{{resources.chakraDice.max}}" placeholder="0" data-dtype="Number">
            </div>
        </li>
